.main-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.main-logo {
    font-size: 30px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}
